<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>チケット予約管理システム</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<header>
		<h1 class="page-header">(公演名)チケット予約管理システム</h1>
	</header>
	<main>
		<a href="/ticketInventory/admin/setting">&lt;&lt; 公演設定へ戻る</a>
		<div class="text">&lt;編集する&gt;</div>

		<table class="reserve">
			<tr>
				<th>ID</th>
				<th>扱い名</th>
				<th></th>
			</tr>
			<tr th:each="orders : ${ordersList}">
				<td>[[${orders.id}]]</td>
				<td>
					<form action="" method="post" th:object="${orders}">
						<input type="text" name="editName" th:value="${orders.name}">
						<input name="editId" type="hidden" th:value="${orders.id}">
						<input type="submit" value="編集する" class="change">
					</form>
				</td>
				<td>
					<form action="" method="post">
						<input type="hidden" name="deleteId" th:value="${orders.id}" /><input
							type="submit" value="削除する" class="cancell">
					</form>
				</td>
			</tr>
		</table>
		<div class="text">&lt;扱いを追加する&gt;</div>
		<table class="reserve">
			<tr>
				<td><form action="" method="post" th:object="${addOrders}">
						<input type="text" th:field="*{name}" /> <input type="submit"
							value="追加する" class="change">
					</form></td>
			</tr>
		</table>
	</main>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script>
		$(document).ready(function() {
			$("form").submit(function() {
				return confirm("編集を実行しますか？");
			});
		});
	</script>

</body>
</html>